@media (max-width: 1200px) {
  .about__text,
.services__text,
.works__text,
.pricing__text,
.team__text,
.blog__text,
.contact-us__text,
.pricing__text {
  padding: 25px 200px 110px;
}
.about__item_text {
  padding: 0 30px;
}
.services__items,
.works__items,
.pricing__plans {
  justify-content: center;
}
.services__item,
.works__item,
.pricing__plan {
  margin: 15px;
}
.services,
.works,
.pricing {
    padding: 60px 0;
  }
.team__members {
  display: flex;
  justify-content: center;
}
article {
  flex-wrap: wrap;
  justify-content: center;
}
.blog__content {
  text-align: center;
  padding: 60px 0 0;
}
.blog__date-category {
  justify-content: center;
}
.blog__content-text {
  padding-bottom: 25px;
}
.contact-us__contacts-wrapper {
  justify-content: center;
}
.contact-us__address,
.contact-us__phone,
.contact-us__mail {
  padding: 20px 0;
}
.input-wrapper {
  justify-content: center;
}
input {
  margin: 15px;
}
}

@media (max-width: 1020px) {
  .header-top {
    padding: 0;
  }
  .logo {
    padding-top: 25px;
    margin: 0 auto;
  }
  .menu {
    position: relative;
    right: 0;
  }
  .menu ul {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 70px;
    z-index: 50;
  }
  .menu li {
    display: block;
    text-align: center;
  }
  .menu a {
    display: block;
    background: #212121;
    color: #fff;
    padding: 15px 0;
    width: 290px;
    opacity: 0.95;
  }
  .header__btn-menu {
    display: block;
    position: absolute;
    right: 0;
  }
  .about__text,
  .services__text,
  .works__text,
  .pricing__text,
  .team__text,
  .blog__text,
  .contact-us__text {
    padding: 25px 100px 95px;
  }
}

@media (max-width: 900px) {
  .about__item_text {
    padding: 0 15px;
  }
  .about__text,
  .services__text,
  .works__text,
  .pricing__text,
  .team__text,
  .blog__text,
  .contact-us__text {
    padding: 25px 50px 50px;
  }
  .blog,
  .team {
    padding: 60px 0;
  }
}

@media (max-width: 815px) {
  .header-bottom__title {
    font-size: 40px;
    line-height: 50px;
  }
  .header-bottom__text {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .about {
    padding: 60px 0;
  }
  .about__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__item_text {
    padding: 0 30px;
  }
}

/* @media (max-width: 770px) {
  .services__item {
    margin: 15px auto;
  }
} */

@media (max-width: 660px) {
  .works__btn-inner {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .works__btn {
    margin: 10px;
  }
  .services__item {
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__text,
  .services__text,
  .works__text,
  .pricing__text,
  .team__text,
  .blog__text,
  .contact-us__text {
    padding: 25px 15px 30px;
  }
  .slick-dots {
    bottom: -56px;
  }
  .blog__btn {
    margin-top: 30px;
  }
  .form {
    padding: 50px 0 0;
    text-align: center;
  }
  .form-btn {
    margin: 40px auto;
    margin-bottom: 0;
    float: none;
  }
  .contact-us {
    padding: 60px 0;
  }
}

@media (max-width: 523px) {
  .header-bottom {
    padding-top: 130px;
  }
  button.header-btn {
    margin: 12px;
  }
  .header-bottom .angle-down {
    margin-top: 35px;
  }
  .about__item_text {
    padding: 0 15px;
  }
  .about {
    padding: 60px 0;
  }
  .works__btn-bottom-wrapper {
    padding-top: 60px;
  }
  .pricing__plan {
    margin: 15px 0;
  }
}

@media (max-width: 414px) {
  .header-bottom {
    padding-top: 80px;
  }
  .header-bottom__title {
    font-size: 30px;
    line-height: 40px;
  }
  .about__text {
    padding: 25px 15px 35px;
  }
  .about__item_title {
    padding-top: 15px;
  }
  .about__item_text {
    padding: 0 0 0 30px;
  }
  .services__item {
    padding: 55px 15px 50px;
  }
  .works {
    padding-bottom: 35px;
  }
  .works__item,
  .works__item img {
    width: 345px;
    height: 345px;
  }
  .works__text,
  .about__text,
  .services__text,
  .pricing__text,
  .team__text,
  .contact-us__text {
    padding: 20px 0 25px;
    font-size: 14px;
  }
  .works__btn-bottom-wrapper {
    padding-top: 30px;
  }
  .pricing {
    padding: 30px 0;
  }
  .pricing__list {
    padding: 45px 80px;
  }
  .team__member img {
    width: 345px;
  }
  .team__member-icons {
    width: 290px;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .about__item_text {
    padding: 0 0 20px;
  }
  .about {
    padding: 40px 0 10px;
  }
  .works__item,
  .works__item img {
    width: 290px;
    height: 290px;
  }
  .pricing__list {
    padding: 45px 50px;
  }
  .team__member img {
    width: 290px;
  }
  p.blog__date,
  p.blog__category {
    padding: 25px 20px;
  }
}