@import 'fonts.css';

* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: Open Sans;
    font-size: 15px;
    color: #212121;
    letter-spacing: 0.5px;
    line-height: 22px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    padding: 0;
    margin: 0;
}

.header-top {
    min-height: 120px;
    padding-top: 30px;
}

.header-top__inner {
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #212121; 
    padding: 20px 0;
    background: #fff;
}

.menu ul li {
    display: inline-block;
}

.menu a {
    font-weight: 500;
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    padding-right: 37px;
}

.menu__item a:hover {
    color: #868686;
}

.header-bottom {
    text-align: center;
    padding-top: 180px;
    /* max-width: 1400px; */
    margin: 0 auto;
    min-height: 655px;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    font-weight: 500;
    position: relative;
}

.header-bottom__title {
    font-size: 60px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 60px;
}

.header-bottom__text {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
}

.header-bottom span {
    display: block;
    width: 30px;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.header-btn {
    width: 220px;
    height: 70px;
    margin: 0 12px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header-btn:hover {
    color: #fff;
    text-transform: uppercase;
    background: #00897b;
    border: none;
}

.about {
    background: #fff;
    text-align: center;
    padding: 120px 0;
}

.about__title,
.services__title,
.works__title,
.pricing__title,
.team__title {
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
}

.about__text,
.services__text,
.works__text,
.pricing__text,
.team__text {
    padding: 0 280px;
    padding: 25px 280px 110px;
    text-align: center;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    min-height: 200px;
}

.about__item_title {
    padding: 30px 0 20px 0;
    font-weight: 500;
}

.about__item_text {
    padding: 0 70px;
}

.services {
    background: #e4fdf9;
    text-align: center;
    padding: 170px 0 120px;
}

.services__items,
.works__items,
.pricing__plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    max-width: 370px;
    width: 100%;
    margin: 15px 0;
    background: #fff;
    padding: 55px 46px 50px;
    position: relative;
}

.services__item:hover {
    background: #00897b;
    color: #fff;
    transition: 0.4s;
}

.services__item-image {
    width: 56px;
    height: 62px;
    margin: 0 auto;
    background-image: url(../img/services.png);
}

.services__item:hover .services__item-image {
    background-image: url(../img/services_hover.png);
}

.services__item-title {
    padding: 35px 0 20px;
    font-weight: 500;
    font-size: 20px;
}

.services__item-text {
    padding-bottom: 40px;
}

.services__item-btn {
    width: 150px;
    height: 55px;
    border: 2px solid #212121;
    background: transpareent;
    margin: 0 auto;
}

.services__item:hover .services__item-btn {
    border: 2px solid #fff;
}

.services__item-btn a {
    color: #212121;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 52px;
    font-weight: 500;
}

.services__item:hover .services__item-btn a {
    color: #fff;
}

.works {
    padding: 125px 0 140px;
}

.works__btn-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.works__btn,
.works__btn-bottom {
    color: #212121;
    display: inline-block;
    margin: 0 10px;
    border: 2px solid #00897b;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 16px;
}

.works__btn:hover,
.works__btn-bottom:hover,
.pricing__btn:hover {
    color: #fff;
    background: #00897b;
    transition: 0.3s;
    border-color: transparent;
}

.works__item {
    max-width: 370px;
    width: 100%;
    height: 370px;
    margin: 15px 0;
    position: relative;
}

.works__item_descr-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: rgba(0,0,0,.4);
    padding-top: 145px;
    text-align: center;
    color: #fff;font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transition: .4s;
    transform: scale(0) rotate(800deg);
}

.works__item:hover .works__item_descr-title {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.works__item_descr-text {
    margin: 0;
    font-size: 15px;
}

.works__btn-bottom-wrapper {
    text-align: center;
    padding-top: 95px;
}

.works__btn-bottom {
    line-height: 70px;
    padding: 0 65px;
}

.pricing {
    background-color: #f0f1f1;
    padding: 125px 0;
}

.pricing__plan {
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding-bottom: 65px;
    background: #fff;
}

.pricing__plan:hover {
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}

.pricing__plan-title {
    height: 180px;
    background: #3949ab;
    position: relative;
    padding-top: 45px;
}

.pricing__plan-title::after {
    content: "";
    position: absolute;
    height: 30px;
    border-left: 370px solid #3949ab;
    border-bottom: 30px solid #fff;
    top: 150px;
    left: 0;
}

.pricing__name {
    font-size: 25px;
    color: #fff;
}

.pricing__price {
    font-size: 50px;
    color: #fff;
    padding-top: 45px;
    position: relative;
}

.pricing__price-currency {
    font-size: 25px;
    position: absolute;
    top: 37px;
    left: 94px;
}

.pricing__price-time-interval {
    font-size: 17px;
}

.pricing__list {
    list-style: none;
    padding: 45px 95px;
}

.pricing__list li {
    padding: 33px 0 9px;
    border-bottom: 1px solid #bfbfbf;
}

.pricing__btn {
    width: 180px;
    height: 60px;
    border: 2px solid #212121;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}

.team {
    padding: 120px 0 266px;
}

.team__members {
    display: flex;
    justify-content: space-between;
    outline: none;
}

.team__member {
    text-align: center;
}

.team__member-name {
    font-size: 20px;
    font-weight: 500;
    margin: 40px 0 10px;
}

.team__member-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 35px;
}

.team__member-icon {
    font-size: 30px;
    color: #00897b;
    background-color: #f0f1f1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}

.team__member-icon:hover {
    color: #fff;
    background-color: #3949ab;
    transition: 0.4s;
}

.member__btn {
    width: 15px;
    height: 15px;
    padding-left: 9px;
    border-radius: 50%;
    background-color: #00897b;
    border: none;
    outline: none;
}

.member__btn:active {
    background-color: #3949ab;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 125px;
}

.slick-dots li {
    margin-left: 5px;
}

.slick-dots li button {
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3949ab;
    color: #3949ab;
    content: none;
    outline: none;
}

.slick-dots li button:active,
.slick-dots li button:focus {
    background: #00897b;
    color: #00897b;
}
  