@import 'fonts.css';

* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: Open Sans;
    font-size: 15px;
    color: #212121;
    letter-spacing: 0.5px;
    line-height: 22px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    padding: 0;
    margin: 0;
}

.header-top {
    min-height: 120px;
    padding-top: 30px;
}

.header-top__inner {
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #212121; 
    padding: 20px 0;
    background: #fff;
}

.menu ul li {
    display: inline-block;
}

.menu a {
    font-weight: 500;
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    padding-right: 37px;
}

.menu__item a:hover {
    color: #868686;
}

.header-bottom {
    text-align: center;
    padding-top: 180px;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 655px;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    font-weight: 500;
    position: relative;
}

.header-bottom__title {
    font-size: 60px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 60px;
}

.header-bottom__text {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
}

.header-bottom span {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 693px;
    bottom: 74px;
    cursor: pointer;
}

.header-btn {
    width: 220px;
    height: 70px;
    margin: 0 12px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header-btn:hover {
    color: #fff;
    text-transform: uppercase;
    background: #00897b;
    border: none;
}

.about {
    background: #fff;
    text-align: center;
    padding: 120px 0;
}

.about__title,
.services__title {
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: bold;
}

.about__text,
.services__text {
    padding: 0 280px;
    padding: 25px 280px 110px;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    min-height: 200px;
}

.about__item_title {
    padding: 30px 0 20px 0;
    font-weight: 500;
}

.about__item_text {
    padding: 0 70px;
}

.services {
    background: #e4fdf9;
    text-align: center;
    padding: 170px 0 120px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.services__item {
    width: 370px;
    background: #fff;
    margin: 15px;
    padding: 55px 46px 50px;
    position: relative;
}

.services__item:hover {
    background: #00897b;
    color: #fff;
    transition: 0.4s;
}

.services__item-image {
    width: 56px;
    height: 62px;
    margin: 0 auto;
    background-image: url(../img/services.png);
}

.services__item:hover .services__item-image {
    background-image: url(../img/services_hover.png);
}

.services__item-title {
    padding: 35px 0 20px;
    font-weight: 500;
    font-size: 20px;
}

.services__item-text {
    padding-bottom: 40px;
}

.services__item-btn {
    width: 150px;
    height: 55px;
    border: 2px solid #212121;
    background: transpareent;
    margin: 0 auto;
}

.services__item:hover .services__item-btn {
    border: 2px solid #fff;
}

.services__item-btn a {
    color: #212121;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 52px;
    font-weight: 500;
}

.services__item:hover .services__item-btn a {
    color: #fff;
}
