@import 'fonts.css';

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

.white {
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

body {
    font-family: Open Sans;
    font-size: 15px;
    color: #212121;
    letter-spacing: 0.5px;
    line-height: 22px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #212121;
}

ul, li {
    padding: 0;
    margin: 0;
}

.header-top {
    min-height: 120px;
    padding-top: 30px;
}

.header-top__inner {
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #212121; 
    padding: 20px 0;
    background: #fff;
}

.menu ul li {
    display: inline-block;
}

.menu a {
    font-weight: 500;
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    padding-right: 37px;
}

.menu__item a:hover {
    color: #868686;
}

.header-bottom {
    text-align: center;
    padding-top: 180px;
    /* max-width: 1400px; */
    margin: 0 auto;
    min-height: 655px;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    font-weight: 500;
    position: relative;
}

.header-bottom__title {
    font-size: 60px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 60px;
}

.header-bottom__text {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
}

.header-bottom span {
    display: block;
    width: 30px;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.header-btn {
    width: 220px;
    height: 70px;
    margin: 0 12px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header-btn:hover {
    color: #fff;
    text-transform: uppercase;
    background: #00897b;
    border: none;
}

.about {
    background: #fff;
    text-align: center;
    padding: 120px 0;
}

.about__title,
.services__title,
.works__title,
.pricing__title,
.team__title,
.blog__title,
.contact-us__title {
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
}

.about__text,
.services__text,
.works__text,
.pricing__text,
.team__text,
.blog__text,
.contact-us__text {
    padding: 0 280px;
    padding: 25px 280px 110px;
    text-align: center;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    min-height: 200px;
}

.about__item_title {
    padding: 30px 0 20px 0;
    font-weight: 500;
}

.about__item_text {
    padding: 0 70px;
}

.services {
    background: #e4fdf9;
    text-align: center;
    padding: 170px 0 120px;
}

.services__items,
.pricing__plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    max-width: 370px;
    width: 100%;
    margin: 15px 0px;
    background: #fff;
    padding: 55px 46px 50px;
    position: relative;
}

.services__item:hover {
    background: #00897b;
    color: #fff;
    transition: 0.4s;
}

.services__item-image {
    width: 56px;
    height: 62px;
    margin: 0 auto;
    background-image: url(../img/services.png);
}

.services__item:hover .services__item-image {
    background-image: url(../img/services_hover.png);
}

.services__item-title {
    padding: 35px 0 20px;
    font-weight: 500;
    font-size: 20px;
}

.services__item-text {
    padding-bottom: 40px;
}

.services__item-btn {
    width: 150px;
    height: 55px;
    border: 2px solid #212121;
    background: transpareent;
    margin: 0 auto;
}

.services__item:hover .services__item-btn {
    border: 2px solid #fff;
}

.services__item-btn a {
    color: #212121;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 52px;
    font-weight: 500;
}

.services__item:hover .services__item-btn a {
    color: #fff;
}

.works {
    padding: 125px 0 140px;
}

.works__btn-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.works__btn,
.works__btn-bottom,
.blog__btn {
    color: #212121;
    display: inline-block;
    margin: 0 10px;
    border: 2px solid #00897b;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 16px;
    background: transparent;
    cursor: pointer;
}

.works__btn:hover,
.works__btn-bottom:hover,
.pricing__btn:hover,
.blog__btn:hover {
    color: #fff;
    background: #00897b;
    transition: 0.3s;
    border-color: transparent;
}

.works__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    min-height: 800px;
}

.works__item {
    max-width: 370px;
    width: 100%;
    height: 370px;
    margin: 15px 15px;
    position: relative;
}

.works__item_descr-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: rgba(0,0,0,.4);
    padding-top: 145px;
    text-align: center;
    color: #fff;font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transition: .4s;
    transform: scale(0) rotate(800deg);
}

.works__item:hover .works__item_descr-title {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.works__item_descr-text {
    margin: 0;
    font-size: 15px;
}

.works__btn-bottom-wrapper {
    text-align: center;
    padding-top: 95px;
}

.works__btn-bottom,
.blog__btn {
    line-height: 70px;
    padding: 0 65px;
}

.pricing {
    background-color: #f0f1f1;
    padding: 125px 0;
}

.pricing__plan {
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding-bottom: 65px;
    background: #fff;
}

.pricing__plan:hover {
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}

.pricing__plan-title {
    height: 180px;
    background: #3949ab;
    position: relative;
    padding-top: 45px;
}

.pricing__plan-title::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 100%;
    /* border-left: 370px solid #3949ab;
    border-bottom: 30px solid #fff; */
    top: 150px;
    left: 0;
    background: #3949ab;
    clip-path: polygon(0 0, 100% 0, 200% 0, 0 100%);
}

.pricing__name {
    font-size: 25px;
    color: #fff;
}

.pricing__price {
    font-size: 50px;
    color: #fff;
    padding-top: 40px;
    position: relative;
}

.pricing__price-currency {
    font-size: 25px;
    padding-top: 18px;
}

.price {
    padding-top: 10px;
}

.pricing__price-time-interval {
    font-size: 17px;
    padding-top: 20px;
}

.pricing__list {
    list-style: none;
    padding: 45px 95px;
}

.pricing__list li {
    padding: 33px 0 9px;
    border-bottom: 1px solid #bfbfbf;
}

.pricing__btn {
    width: 180px;
    height: 60px;
    border: 2px solid #212121;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}

.pricing__btn:hover {
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
}

.pricing__btn:active {
    box-shadow: none;
}

.team {
    padding: 120px 0 125px;
}

.team__members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.team__member {
    text-align: center;
}

.team__member-name {
    font-size: 20px;
    font-weight: 500;
    margin: 40px 0 10px;
}

.team__member-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 35px;
    width: 390px;
}

.team__member-icon {
    font-size: 30px;
    color: #00897b;
    background-color: #f0f1f1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}

.team__member-icon:hover {
    color: #fff;
    background-color: #3949ab;
    transition: 0.4s;
}

.member__btn {
    width: 15px;
    height: 15px;
    padding-left: 9px;
    border-radius: 50%;
    background-color: #00897b;
    border: none;
}

.member__btn[class="slick-active"] {
    background-color: #3949ab;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots li {
    margin-left: 5px;
}

.blog {
    background-color: #e4fdf9;
    text-align: center;
    padding: 125px 0;
}

article {
    display: flex;
    justify-content: space-between;
}
.article-2 {
    flex-direction: row-reverse;
}

.blog__img,
.blog__content {
    max-width: 570px;
    width: 100%;
    min-height: 203px;
}

.blog__content {
    text-align: left;
    padding: 60px 120px 0 0;
}

.blog a {
    font-size: 25px;
    font-weight: 500;
}

.blog a:hover {
    color: #fff;
}

.blog__date-category {
    display: flex;
    justify-content: left;
}

.blog__date,
.blog__category {
    padding: 25px 35px;
    font-size: 17px;
    font-weight: 500;
}

.fa-calendar-alt,
.fa-file {
    padding-right: 12px;
}

.blog__btn {
    margin-top: 120px;
}

.contact-us{
    padding: 125px 0 110px;
    background-image: url(../img/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
}

.contact-us__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-us__address,
.contact-us__phone,
.contact-us__mail  {
    max-width: 390px;
    width: 100%;
    text-align: center;
}

.contact-us__address-icon,
.contact-us__phone-icon,
.contact-us__mail-icon {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #3949ab;
    margin: 0 auto;
    font-size: 65px;
    line-height: 105px;
    color: #fff;
}

.contact-us__address-text,
.contact-us__phone-text,
.contact-us__mail-text {
    padding-top: 35px;
}

.form {
    padding: 80px 70px 0;
}

.form::after {
    content: "";
    display: block;
    clear: both;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

input,
textarea,
.form-btn {
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    padding: 20px;
}

input {
    max-width: 500px;
    width: 100%;
    height: 85px;
    margin: 0 15px;
}

textarea {
    max-width: 1030px;
    width: 100%;
    height: 320px;
    margin-top: 30px;
    resize: none;  
}

.form-btn {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    border: none;
    float: right;
    font-weight: 700;
    background: #fff;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
}

.copyright {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
    padding: 21px 0;
}

.header__btn-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    display: none;
}

.header__btn-menu span,
.header__btn-menu span::before, 
.header__btn-menu span::after { 
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #212121;
    font-size: 0;
    left: 0;
    top: 50%;
    margin-top: -4px;
}

.header__btn-menu span::before,
.header__btn-menu span::after {
    content: "";
    display: block;
    transition: 0.2s;
}

 .header__btn-menu span::before {
    transform: translateY(16px);
}

.header__btn-menu span::after {
    transform: translateY(-16px);
}

.header__btn-menu_active span {
    height: 0;
}

.header__btn-menu_active span::before {
    transform: rotate(45deg);
}

.header__btn-menu_active span::after {
    transform: rotate(-45deg);
} 